<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3>Employee Portal</h3>
          <button class="btn btn-dark">Add New</button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Department</th>
              <th>Role</th>
              <th>Gender</th>
              <th>Actions</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3>New Employee</h3>
          <button class="btn btn-dark">Close</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="Name" class="form-label"> Name</label>
              <input
                type="text"
                class="form-control"
                id="Name"
                placeholder="Enter Name"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="contactNumber" class="form-label"
                >Contact Number</label
              >
              <input
                type="text"
                class="form-control"
                id="contactNumber"
                placeholder="Enter Contact Number"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="email" class="form-label">Enter Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="parentDepartment" class="form-label"
                  >Parent Department</label
                >
                <select
                  class="form-select"
                  aria-label="parentDepartment"
                  [(ngModel)]="deptId"
                  (change)="onDeptChange()"
                >
                  <option selected disabled>Select department</option>
                  @for (dept of deptList; track $index) {
                  <option [value]="dept.departmentId">
                    {{ dept.departmentName }}
                  </option>
                  }
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="childDepartment" class="form-label"
                  >Child Department</label
                >
                <select class="form-select" aria-label="childDepartment">
                  <option selected disabled>Select Child Department</option>
                  @for(childDept of childDeptList; track $index){
                  <option [value]="childDept.childDeptId">
                    {{ childDept.departmentName }}
                  </option>
                  }
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Enter Password"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="role" class="form-label">Role</label>
                  <input
                    type="text"
                    class="form-control"
                    id="role"
                    placeholder="Enter Role"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="gender" class="form-label">Gender</label>
                  <select
                    class="form-select"
                    aria-label="Default select example"
                  >
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <button class="btn btn-dark">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
