<div class="row">
  <div class="col-8 overflow-x-scroll">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3>Employee Portal</h3>
          <button class="btn btn-dark">Add New</button>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-end m-2">
          <input
            type="text"
            class="form-control w-25"
            (keyup)="search($event)"
            placeholder="Search..."
          />
        </div>
        <table class="table table-striped border">
          <thead style="width: 100%">
            <tr>
              <th>Employee ID</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Department</th>
              <th>Role</th>
              <th>Gender</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for(emp of filteredEmployee; track $index){
            <tr>
              <td>{{ emp.employeeId }}</td>
              <td>{{ emp.employeeName }}</td>
              <td>{{ emp.contactNo }}</td>
              <td style="word-break: break-all; overflow-wrap: break-all">
                {{ emp.emailId }}
              </td>
              <td>{{ emp.deptId }}</td>
              <td>{{ emp.role }}</td>
              <td>{{ emp.gender }}</td>
              <td>
                <i class="fas fa-edit me-2"></i>
                <i class="fas fa-trash"></i>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h3>New Employee</h3>
          <button class="btn btn-dark">Close</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="Name" class="form-label"> Name</label>
              <input
                type="text"
                [(ngModel)]="employeeObj.employeeName"
                class="form-control"
                id="Name"
                placeholder="Enter Name"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="contactNumber" class="form-label"
                >Contact Number</label
              >
              <input
                type="text"
                class="form-control"
                [(ngModel)]="employeeObj.contactNo"
                id="contactNumber"
                placeholder="Enter Contact Number"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="email" class="form-label">Enter Email</label>
              <input
                type="email"
                class="form-control"
                [(ngModel)]="employeeObj.emailId"
                id="email"
                placeholder="Email"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="parentDepartment" class="form-label"
                >Parent Department</label
              >
              <select
                class="form-select"
                aria-label="parentDepartment"
                [(ngModel)]="deptId"
                (change)="onDeptChange()"
              >
                <option selected disabled>Select department</option>
                @for (dept of deptList; track $index) {
                <option [value]="dept.departmentId">
                  {{ dept.departmentName }}
                </option>
                }
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="childDepartment" class="form-label"
                >Child Department</label
              >
              <select
                class="form-select"
                aria-label="childDepartment"
                [(ngModel)]="employeeObj.deptId"
              >
                <option selected disabled>Select Child Department</option>
                @for(childDept of childDeptList; track $index){
                <option [value]="childDept.childDeptId">
                  {{ childDept.departmentName }}
                </option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="employeeObj.password"
                id="password"
                placeholder="Enter Password"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="employeeObj.role"
                id="role"
                placeholder="Enter Role"
                readonly
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <div class="d-flex gap-3">
                <label for="gender" class="form-label">Gender</label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [(ngModel)]="employeeObj.gender"
                    name="gender"
                    value="Male"
                    id="male"
                  />
                  <label class="form-check-label" for="male"> Male </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    [(ngModel)]="employeeObj.gender"
                    name="gender"
                    value="Female"
                    id="female"
                    checked
                  />
                  <label class="form-check-label" for="female"> Female </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-dark" (click)="createEmployee()">Submit</button>
      </div>
    </div>
  </div>
</div>
